[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-celery-results = "*"
postmark = "*"
postmarker = "*"
celery = "*"
redis = "*"
psycopg2-binary = "==2.8.6"
Django = "~=2.2.4"
certifi = "*"
django-celery-beat = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
social-auth-app-django = "*"

[dev-packages]

[requires]
python_version = "3.8"
