{% extends 'blog/base.html' %}

{% block content %}
    <h1>Sing in</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">login</button>
    </form>
    <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
            <button class="btn btn-primary mb-2">
                <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook
                </a>
            </button>
            <button class="btn btn-info mb-2">
                <a href="#">Login with LinkedIn</a>
            </button>
        </div>
    </div>
{% endblock %}