{% load static %}
<html>
    <head>
        <title>My first blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'sing_out' %}" class="top-menu">Sing out</a>
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'my_posts' %}" class="top-menu">My posts</a>
            {% endif %}
            {% if not user.is_authenticated %}
                <a href="{% url 'sing_in' %}" class="top-menu" >Sing in</a>
                <a href="{% url 'registration' %}" class="top-menu" >Registration</a>
            {% endif %}
            <a href="{% url 'sand_email' %}" class="top-menu" >Send email</a>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>